<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>905156797676-ve9ifjv6v5j7qjs0q8feqr9a7s48n15c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.905156797676-ve9ifjv6v5j7qjs0q8feqr9a7s48n15c</string>
	<key>API_KEY</key>
	<string>AIzaSyAsEocuLMEQ2GcrY375q50tevKDgYYfRMY</string>
	<key>GCM_SENDER_ID</key>
	<string>905156797676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delabelV3.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>delabel-net-1</string>
	<key>STORAGE_BUCKET</key>
	<string>delabel-net-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:905156797676:ios:037a85a2da7db85a5eb1c9</string>
</dict>
</plist>